<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Emails List</title>
        <style>
            .success {
                border: 1px solid green;
                color: green
            }
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="success">
            <h3>{{message}}</h3>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>Email Addresses Entered:</h2>
        {% for email in emails %}
            <p>{{email.emails}} <span>{{email.created_at}}</span></p>
        {% endfor %}
    </body>
</html>
